.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    flex-direction: column;
}
.text {
    font-weight: 600;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-input {
    margin: 8px;
    width: 400px;
    height: 35px;
    padding: 8px;
}

.btn {
    width: 400px;
    height: 35px; 
}

.form-input, .btn {
    font-size: 14px;
}

.auth-switcher {
    font-weight: 600;
    width: 400px;
    margin-top: 20px;
}