<div class="constructor">
    <p class="header-text">Ваша фантазия</p>

    <div class="container">
        <input class="logo-text-input" placeholder="Напишите текст вашего логотипа" (input)="onInputChange($event)" >
        <div class="logo-creator">
            <div class="first">
                <div class="picker-container">
                    <!-- Форма выбора шрифта -->
                    <label class="label-text">Выберите шрифт:</label>
                    <select [(ngModel)]="selectedFont" (change)="onFontChange()">
                        <option *ngFor="let font of availableFonts" [value]="font">{{ font }}</option>
                    </select>
                </div>
    
                <div class="picker-container">
                    <!-- Форма выбора формы -->
                    <label class="label-text">Выберите форму:</label>
                    <select [(ngModel)]="selectedShape" (change)="onShapeChange()">
                        <option *ngFor="let shape of availableShapes" [value]="shape">{{ shape }}</option>
                    </select>
                </div>
            </div>
            <div class="second">
                <div class="picker-container">
                    <!-- Форма выбора цвета -->
                    <label class="label-text">Цветовое решение:</label>
                    <input style="width: 100%;" type="color" [(ngModel)]="selectedColor" (change)="onColorChange()">
                </div>
    
                <div class="picker-container">
                    <!-- Форма выбора стиля -->
                    <label class="label-text">Стиль:</label>
                    <select [(ngModel)]="selectedStyle" (change)="onStyleChange()">
                        <option *ngFor="let style of availableStyles" [value]="style">{{ style }}</option>
                    </select>
                </div>
            </div>
      </div>
     
  
      <!-- Отображение логотипа -->
      <h3 class="logo-preview-text">Превью лого</h3>
      <div class="logo-preview" [ngStyle]="{ 'background-color': selectedColor }">
        <div class="shape-preview" style="border:1px solid red;" [ngStyle]="{ 'border-radius': selectedShape }">
            <div class="logo-texts" [ngStyle]="logoStyles">
                {{ logoText }}
              </div>
        </div>
          
      </div>
      <button (click)="saveAsImage()">Сохранить лого</button>
    </div>
  
</div>