<div class="main-div">
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                </span>
    
                <div class="text logo-text">
                    <span class="name">Модуль</span>
                </div>
            </div>
    
            <i class='bx bx-chevron-right toggle'></i>
        </header>
    
        <div class="menu-bar">
            <div class="menu">
    
                <ul class="menu-links">
                    <li *ngIf="this.id !== 1" class="nav-link">
                        <a routerLink="./welcome-page">
                            <i class='bx bx-smile icon' ></i>
                            <span class="text nav-text">Приветствие</span>
                        </a>
                    </li>
    
                    <li *ngIf="this.id !== 1" class="nav-link">
                        <a routerLink="./constructor">
                            <i class='bx bx-brush icon'></i>
                            <span class="text nav-text">Ваша фантазия</span>
                        </a>
                    </li>

                    <li *ngIf="this.id !== 1" class="nav-link">
                        <a routerLink="./sketch">
                            <i class='bx bx-pencil icon' ></i>
                            <span class="text nav-text">Эскизы</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a routerLink="./chat">
                            <i class='bx bx-chat icon'></i>
                            <span class="text nav-text">Чат</span>
                        </a>
                    </li>

                    <li *ngIf="this.id === 1" class="nav-link">
                        <a routerLink="./admin">
                            <i class='bx bx-user  icon' ></i>
                            <span class="text nav-text">Админка</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a routerLink="./gallery">
                            <i class='bx bx-pencil icon' ></i>
                            <span class="text nav-text">Отправка фото</span>
                        </a>
                    </li>
                </ul>
            </div>
    
            <div class="bottom-content">
                <li class="">
                    <a routerLink="/auth-page/auth">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Выйти</span>
                    </a>
                </li>
            </div>
        </div>
    </nav>

    <div class="main-page-contents">
        <router-outlet></router-outlet>
    </div>
</div>



