.chat-window {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 600px;
  border: 1px solid black;
}

.chat-message-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto; 
  max-height: calc(100% - 60px);
  flex-grow: 1;
}

.users {
  display: flex;
  width: 150px;
  height: 600px;
  border: 1px solid black;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.user{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid black;
  height: 40px;
  width: 150px;
  padding: 20px;
}

.user.selected {
  background-color: green;
}

.user-name{
  margin: 0;
  font-weight: bold;
}

.message-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
  border: 1px darkgray;
  border-radius: 3px;
  border-style: solid none;
}

.blue-message {
  background-color: green;
}

.message-body {
  text-align: center;
}

.user-message .message-body {
  max-width: 70vh;
  background-color: gray;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 100%;
}

.bot-message .message-body {
  max-width: 70vh;
  background-color: blue;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.chat-input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-top: 1px solid black;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width: 60%;
}

.chat-page{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
}

input[type="text"] {
  border: none;
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:focus {
  outline: none;
}
