<div class="quiz" *ngIf="!showResult">
  <div class="question">
    <p>{{ currentQuestion.question }}</p>
  </div>
  <div class="answers">
    <div class="answer" *ngFor="let choice of currentQuestionChoices">
      <label>
        <input type="radio" name="answer" required [value]="choice" [(ngModel)]="selectedAnswer">
        {{ choice }}
      </label>
    </div>
  </div>
  <div class="actions">
    <button (click)="submitAnswer()">Submit</button>
  </div>
</div>
<div class="score-container" *ngIf="showResult">
  <p>You got {{ correctAnswers }} out of {{ totalQuestions }} correct!</p>
  <button (click)="restartQuiz()">Restart Quiz</button>
</div>
