.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

h2{
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h4{
  color: green;
}
  
form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
  
input[type="text"],
select {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}
  
select{
  width: 6rem;
}
  
button[type="submit"] {
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
  
button[type="submit"]:hover {
  background-color: #0069d9;
}

.add-button{
  margin-bottom: 50px;
}